<!--系统管理 - 角色设置-->

<include "../public/head_mini"/>

<style>
    #LAY_layuipro { padding:30px 60px 10px 30px; }
</style>

<div class="layuimini-container">
    <div class="layuimini-main">
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-primary layui-border-green" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-primary layui-border-black" id="btn-fold">全部折叠</button>
                <button class="layui-btn layui-btn-normal" id="add-menu-btn" title="添加一级菜单">添加角色</button>
            </div>
            <table id="menu-table" class="layui-table" lay-filter="menu-table"></table>
        </div>
    </div>
</div>

<!-- 操作列 -->
<script type="text/html" id="roles-control">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add" title="在此菜单添加下级菜单">添加</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    {{# if (d.status === '1') { }}
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="stop">禁用</a>
    {{# } }}
    {{# if (d.status === '2') { }}
        <a class="layui-btn layui-btn-xs" lay-event="start">启用</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<include "../public/foot_mini"/>

<script>
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        table.render({
            treeColIndex: 3,    //操作字段位置
            treeIdName: 'id',   //菜单ID名
            elem: '#menu-table',
            url: '/admin/roles?api=lists',
            page: false,
            cols: [[
                {type: 'numbers', title: '序号'},
                {field: 'id', title: 'ID', width: 60},
                {templet: '#roles-control', width: 230, align: 'center', title: '操作'},
                {field: 'name', title: '角色名称', width: 250},
                {field: 'ctime', title: '创建时间'},
                {field: 'utime', title: '更新时间'},
                {field: 'status_mean', title: '状态'},
            ]],
            done: function (res, curr, count) {

                layer.closeAll('loading');

                res.data.forEach(function (item, index) {

                    if (item.status === '1') {

                        $('div[lay-id="menu-table"]').
                        find('tr[data-index="' + index + '"]').
                        find('td[data-field="status_mean"]').
                        css({
                            'background-color': '#009688',
                            'color': '#fff',
                        });

                    }else {

                        $('div[lay-id="menu-table"]').
                        find('tr[data-index="' + index + '"]').
                        find('td[data-field="status_mean"]').
                        css({
                            'background-color': '#FF5722',
                            'color': '#fff',
                        });
                    }
                });
            }
        });

        //展开表格树
        $(document).on('click', '#btn-expand', function () {
            treetable.expandAll('#menu-table');
        });

        //关闭表格树
        $(document).on('click', '#btn-fold', function () {
            treetable.foldAll('#menu-table');
        });

        //操作
        table.on('tool(menu-table)', function (obj) {

            var data = obj.data;
            var layEvent = obj.event;

            switch (layEvent) {

                //启用 或 停用
                case 'start':
                case 'stop': {
                    $.ajax({
                        url: '/admin/menu?api=hot',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { id:data.id, option:layEvent },
                        success: function (res) {
                            layer.msg(res.info);
                            if(res.code === 1) {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1200);
                            }
                        }
                    });
                    break;
                }

                //删除
                case 'del': {
                    layer.confirm('确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                        layer.close(index);
                        $.ajax({
                            url: '/admin/menu?api=del',
                            type: 'POST',
                            dataType: 'JSON',
                            data: { id:data.id },
                            success: function (res) {
                                layer.msg(res.info);
                                if(res.code === 1) {
                                    window.location.reload();
                                }
                            }
                        });
                    });
                    break;
                }

                //添加子菜单
                case 'add': {

                    add_menu('sub', data);
                    break;
                }

                //编辑
                case 'edit': {

                    layer.open({
                        type: 1
                        ,title: '编辑菜单'
                        ,closeBtn: false
                        ,area: '800px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['确认', '关闭']
                        ,btnAlign: 'r'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: `
                            <style>
                                .edit-menu {  }
                            </style>
                            <form id="save-menu" class="layui-form edit-menu" action="">
                                <input name="id" type="hidden" value="`+data.id+`">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">菜单名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input" value="`+data.title+`">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">父级ID</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="pid" placeholder="请输入父级ID" autocomplete="off" class="layui-input" value="`+data.pid+`">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">图标</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="icon" placeholder="请输入图标代码" autocomplete="off" class="layui-input" value="`+data.icon+`">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">链接</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="href" placeholder="请输入链接" autocomplete="off" class="layui-input" value="`+data.href+`">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">打开方式</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="target" placeholder="请输入打开方式" autocomplete="off" class="layui-input" value="`+data.target+`">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">排序</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="sort" placeholder="请输入排序数值" autocomplete="off" class="layui-input" value="`+data.sort+`">
                                    </div>
                                </div>
                            </form>
                        `
                        ,success: function(e){

                        },
                        yes: function(index, layero){

                            var form = $('#save-menu').serialize();

                            $.ajax({
                                url: '/admin/menu?api=save',
                                type: 'POST',
                                dataType: 'JSON',
                                data: form,
                                success: function (res) {
                                    layer.msg(res.info);
                                    if(res.code === 1) {
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 1200);
                                        layer.close(index);
                                    }
                                }
                            });
                        }
                    });
                }
            }
        });

        //添加一级菜单
        $(document).on('click', '#add-menu-btn', function () {
            add_menu('main');
        });

        //添加菜单
        function add_menu(type, data) {

            var pid = 0;

            if(type === 'sub') {
                pid = data.id;
            }

            layer.open({
                type: 1
                ,title: '添加菜单'
                ,closeBtn: false
                ,area: '800px;'
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: ['确认', '关闭']
                ,btnAlign: 'r'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: `
                    <form id="add-menu" class="layui-form edit-menu" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="display:none">
                            <label class="layui-form-label">父级ID</label>
                            <div class="layui-input-block">
                                <input type="number" name="pid" placeholder="请输入父级ID" autocomplete="off" class="layui-input" value="`+pid+`">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图标</label>
                            <div class="layui-input-block">
                                <input type="text" name="icon" placeholder="请输入图标代码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">链接</label>
                            <div class="layui-input-block">
                                <input type="text" name="href" placeholder="请输入链接" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">打开方式</label>
                            <div class="layui-input-block">
                                <input type="text" name="target" placeholder="请输入打开方式" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block">
                                <input type="number" name="sort" placeholder="请输入排序数值" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </form>
                `
                ,
                yes: function(index){

                    var form = $('#add-menu').serialize();

                    $.ajax({
                        url: '/admin/menu?api=add',
                        type: 'POST',
                        dataType: 'JSON',
                        data: form,
                        success: function (res) {
                            layer.msg(res.info);
                            if(res.code === 1) {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1200);
                                layer.close(index);
                            }
                        }
                    });
                }
            });
        }

    });
</script>
